Django==4.2.23
django-cors-headers==3.11.0
django-csp==3.7
django-feature-policy==4.0.0
django-http-referrer-policy==1.1.1
django-mssql-backend==2.8.1
django-oauth-toolkit==1.3.3
django-permissions-policy==4.9.0
django-referrer-policy==1.0
django-security-2.0==1.0.1
django-user-agents==0.4.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djangorestframework-xml==2.0.0
drf-yasg==1.21.7
easyocr==1.7.2
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85

APScheduler==3.11.0
arc4==0.4.0
beautifulsoup4==4.12.3
bs4==0.0.1
faiss-cpu==1.9.0
firebase-admin==6.8.0
fonttools==4.38.0
fpdf2==2.2.0

geographiclib==2.0
geopy==2.4.1
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.2
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0

gunicorn==20.1.0

html5lib==1.1
ImageHash==4.3.1
imageio==2.37.0
imgkit==1.2.2

jsonfield==3.2.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==3.2.0
jwcrypto==1.4.2
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langchain-groq==0.1.6
langchain-openai==0.1.13
langcodes==3.5.0

Markdown==3.3.4
markdown-it-py==4.0.0
MarkupSafe==3.0.2

multidict==6.1.0
murmurhash==1.0.13

numpy==1.26.4
openai==1.101.0
opencv-python==4.6.0.66
openpyxl==3.1.5
pandas==2.3.2
pdfkit==1.0.0
phonenumbers==9.0.12
pillow==10.4.0
playwright==1.54.0
# playwright install chromium

preshed==3.0.10
presidio-analyzer==2.2.32
psycopg2==2.9.10

py3-wkhtmltopdf==0.4.1

pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydyf==0.5.0

PyJWT==2.10.1
pyodbc==4.0.35

PyPDF2==1.26.0

pycryptodome
python-dotenv==1.1.1
python-http-client==3.3.7
pytz==2025.2
PyWavelets==1.4.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.2
pyzmq==26.0.3
regex==2025.7.34
reportlab==4.3.1
requests==2.32.5
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==14.1.0
rsa==4.9.1

safetensors==0.5.3
scikit-image==0.25.2
scipy==1.15.3
sendgrid==6.9.7

spacy==3.8.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.35
sqlparse==0.4.3

swagger-spec-validator==2.7.1
sympy==1.13.3

transformers==4.46.3
tokenizers==0.20.3

tzdata==2025.2
tzlocal==5.3.1

urllib3==2.5.0
user-agents==1.1.0

waitress==3.0.2

xmltodict==0.12.0